{{#link-to 'hostgroups' tagName="h1"}}Host Groups{{/link-to}}

<p>
  Showing <strong>{{cntFilteredHostgroups}}</strong> hostgroups
</p>
{{#each error in errors.email}}
  {{error.message}}
{{/each}}

<div class="row">
  <div class='col-md-4'>
  {{input type='text' value=searchText placeholder='Search here ...' class='form-control'}}
  </div>
</div>

<div class="row">
  <div class='col-md-4'>
  {{input type='text' value=filterText placeholder='Filter here ...' class='form-control'}}
  </div>
</div>

<br/>

<div class="row">

  <div {{bind-attr class="onShowPage:col-md-3:col-md-12"}}>

    <table class="table table-bordered" style='table-layout:fixed;'>
      <thead>
        <tr>
          <th>Title</th>
          {{#unless onShowPage}}
          <th>Subnet</th>
          <th>Domain</th>
          {{/unless}}
        </tr>
        </thead>

      <tbody>
      {{#each hostgroup in filteredModel itemController="hostgroup"}}
        <tr>
          <td style='word-wrap:break-word;' width='100'>
            {{#link-to 'hostgroup' hostgroup}}
             {{hostgroup.title}}
            {{/link-to}}
          </td>
          {{#unless onShowPage}}
          <td> {{hostgroup.subnet_name}} </td>
          <td> {{hostgroup.domain_name}} </td>
          {{/unless}}
        </tr>
      {{else}}
        <li>No hostgroups found.</li>
      {{/each}}
      </tbody>
    </table>

  </div>

  {{#if onShowPage}}
  <div {{bind-attr class="onShowPage:col-md-9"}} style="border: 1px solid #0072a0">
    {{outlet}}
  </div>
  {{/if}}
</div>
