<h3>New Host</h3>

<br />
<form class="form form-horizontal">

 {{text-f value=fields.name label="Name"}}

 {{select-f label='Hostgroup'
            content=hostgroups
            optionLabelPath="content.name"
            optionValuePath="content.id"
            selection=content.hostgroup
            value=fields.hostgroup_id
            prompt="Select hostgroup"
            }}

 {{select-f label='Locations'
            content=locations
            optionLabelPath="content.name"
            optionValuePath="content.id"
            selection=content.location
            value=fields.location_id
            prompt="Select location"
            }}

 {{select-f label='Organizations'
            content=organizations
            optionLabelPath="content.name"
            optionValuePath="content.id"
            selection=content.organization
            value=fields.organization_id
            prompt="Select organization"
            }}

 {{text-f value=fields.mac label="Mac Address"}}
 {{text-f value=fields.ip label="IP Address"}}
 {{text-f value=fields.root_pass label="Root Password"}}

 {{text-f value=fields.model_id label="model_id"}}
 {{text-f value=fields.model_name label="model_id"}}


<br />
<br />
<button {{action 'cancel'}} class='btn btn-default'>Cancel</button>
<button {{action 'saveNewRecord'}} class='btn btn-primary'>Submit</button>
<br />
<br />
</form>